{% extends 'company_template.html' %}

{% block body %}
    <nav>
        <a href="/" class="brand">
            <span>SocialMarketer (Beta)</span>
        </a>
        <!-- responsive -->
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">Menu</label>
        <div class="menu">
                <a href="/update/{{ name }}" class="button">Find New Tweets</a>
                <a href="/company/{{ name }}/all" class="button">Show All Tweets</a>
        </div>
    </nav>
    <div class="container", style="padding: 3em 1em">
        <h2>Welcome to {{ name }}'s Twitter marketing dashboard!</h2>
        <p>Below is a list of all collected mentions of your competitior.</p>
    </div>

    <!--List of tweets relating to competitors-->
    <table class="primary", style="width:100">
      <thead>
        <tr>
          <th>Twitter User</th>
          <th>Tweet</th>
          <th>Sentiment Score</th>
          <th>Conversion Likelihood</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
          {% for tweet in tweets %}
            <tr>
                <td>{{ tweet.user }}</td>
                <td>{{ tweet.text }}</td>
                <td>{{ tweet.sentiment}}</td>
                <td>{{ tweet.likelihood }}</td>
                <td><a href={{ tweet.link }} target="_blank">Reply</a> </td>
            </tr>
          {% endfor %}

      </tbody>
    </table>
{% endblock %}