{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to SocialMarketer</h1>
        <pclass="Lead">SocialMarketer leverages natural language processing and machine learning algorithms <br/>
        to help companies identify marketing opportunities on Twitter. <br/>
        <br/>
        We automatically scan Twitter for complaints made about your competitor, and proivide <br/>
        a simple interface for responding and converting these users. <br/> <br/>
        Throughout the process, you can track interaction successes and faillures. SocialMarketer will <br>
        create a machine learning algorithm to identify the most promising users, based on past data.
        </pclass></p>
    </div>
{% endblock %}