<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Social Marketer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/picnic.css') }}">
</head>

<body>
    <nav>
        <a href="/" class="brand">
            <span>SocialMarketer (Beta)</span>
        </a>
        <!-- responsive -->
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">Menu</label>
        <div class="menu">
                <a href="/signup" class="button">Get Started</a>
                <!--<a href="/login" class="button">Login</a>-->
        </div>
    </nav>

    <main class='intro test', style="padding: 3em 1em">
        {% block body %}{% endblock %}
    </main>
</body>

</html>