[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tweepy = "*"
basilica = "*"
flask = "*"
heroku = "*"
python-decouple = "*"
textblob = "*"
python-dotenv = "*"
sklearn = "*"
scikit-learn = "*"

[requires]
python_version = "3.6"
